"*":
  "atom-beautify":
    _analyticsUserId: "2b4b8404-a67e-4627-bd7c-729eb6a6c54b"
    html_indent_inner_html: true
    markdown_commonmark: true
    python_max_line_length: 79
    python_sort_imports: true
  "autocomplete-go": {}
  "autocomplete-python": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/Users/chris/Dropbox/chris/projects/"
    themes: [
      "atom-dark-ui"
      "hybrid-next-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "file-icons":
    forceShow: true
    onChanges: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "go-plus":
    environmentOverridesConfiguration: false
    goPath: "/Users/chris/Dropbox/chris/projects/go"
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    errorPanelHeight: 122
  "linter-golinter": {}
  "linter-htmlhint": {}
  "linter-pylint":
    rcFile: "~/.pylintrc"
  "linter-shellcheck": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  "merge-conflicts": {}
  "python-tools": {}
  "save-session":
    dataSaveFolder: "/Users/chris/.atom/packages/save-session/projects"
  script:
    stopOnRerun: true
  "todo-show":
    ignoreThesePaths: [
      "*venv/"
      "*/lib/"
      "*/include/"
    ]
  "vim-mode": {}
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    softWrap: true
