"*":
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      analytics: false
    gherkin: {}
    go:
      beautify_on_save: true
    handlebars: {}
    html:
      brace_style: "expand"
      indent_inner_html: true
    jade: {}
    java:
      configPath: "/Users/chris/.uncrustify.cfg"
    js: {}
    json: {}
    jsx: {}
    latex: {}
    less: {}
    markdown:
      commonmark: true
      yaml: false
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python:
      default_beautifier: "yapf"
      sort_imports: true
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "autocomplete-go": {}
  "autocomplete-java": {}
  "autocomplete-plus": {}
  "autocomplete-python": {}
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "vim-mode"
      "platformio-ide"
      "platformio-ide-terminal"
      "linter-jshint"
      "linter-pug"
      "language-liquid"
      "autoclose-html"
      "linter-bootlint"
      "go-debug"
      "linter-markdown"
      "autocomplete-python"
      "go-plus"
      "go-get"
      "go-config"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/Users/chris/Dropbox/chris/projects/"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "hybrid-next-syntax"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "file-icons":
    forceShow: true
    onChanges: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "go-plus":
    environmentOverridesConfiguration: false
    goPath: "/Users/chris/Dropbox/chris/projects/go"
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    errorPanelHeight: 125
    showErrorPanel: false
  "linter-bootlint": {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-gcc":
    gccLintOnTheFly: true
  "linter-golinter": {}
  "linter-htmlhint":
    enabledScopes: [
      "text.html.angular"
      "text.html.basic"
      "text.html.erb"
      "text.html.gohtml"
      "text.html.jsp"
      "text.html.mustache"
      "text.html.ruby"
      "text.html.jinja"
    ]
  "linter-javac": {}
  "linter-pylint": {}
  "linter-shellcheck": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  "merge-conflicts": {}
  "python-tools": {}
  "save-session":
    dataSaveFolder: "/Users/chris/.atom/packages/save-session/projects"
  script:
    stopOnRerun: true
  "todo-show":
    ignoreThesePaths: [
      "*venv/"
      "*/lib/"
      "*/include/"
    ]
  "tool-bar":
    position: "Left"
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".arduino.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    softWrap: true
".html.jinja.text":
  editor:
    tabLength: 4
".html.liquid.text":
  editor:
    tabLength: 4
".jinja.source":
  editor:
    tabLength: 4
